html {
background-image:url("FSS-1800.jpg");
}
body{
    margin: auto;
    background-image:url(taupeTile.png);
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    max-width: 925px;
}
header{
    width: 100%;
    max-width: 925px;
    min-width: 480px;
}
.image{
    width: 100%;
    height:auto;
    max-width: 925px;
    max-height: 480px;
}
nav{
    background-color: -#633;
    color: white;
}
ul{
    list-style:none;
    padding:none;
    margin:none;
    width: 100%;
    display: inline;
}
li{
    float: left;
    width: 20%;
    text-align: center;
}
a:link, :visited {
    display: block;
    padding: 5px 5px 5px 25px;
    background-color: #633;
    color: white;
}
a:hover, :focus{
    background-color: #F93;
    color: #600;
}
article{
    padding: 20px;
    clear: left;
}
footer{
    background-color: #948D67;
    padding: 20px;
    clear: left;
}
img#tram{
    width: 400px;
    height:255px;
}
img#yarra{
    width: 400px;
    height:255px;
}
